#errorLogin{
    color : red;
  }
  
  #idForm{
    background-color: #936804;
    padding: 118px 40px;
  }
  
  #idFound{
    background-color: #f6a80c;
    padding: 250px 40px;
  }
  
  #idColRow{
    background-color: rgb(129, 237, 110);
  }
  
  .list {
    margin-bottom: 0;
  }
  
  ion-icon{
    background-color: rgb(72, 69, 161);
  }